<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xmlns:ops="http://www.idpf.org/2007/ops" xml:lang="<%= @language %>">
<head>
  <meta charset="UTF-8" />
<% if @stylesheets.present? %>
<%   @stylesheets.each do |style| %>
  <link rel="stylesheet" type="text/css" href="<%= style %>" />
<%   end %>
<% end%>
  <meta name="generator" content="Re:VIEW" />
  <title><%= @title %></title>
</head>
<body<%= @body_ext %>>
<%= @body %>
</body>
</html>
