<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ops="http://www.idpf.org/2007/ops" xml:lang="<%= @language %>">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <meta http-equiv="Content-Style-Type" content="text/css"/>
<% if @stylesheets.present? %>
<%   @stylesheets.each do |style| %>
  <link rel="stylesheet" type="text/css" href="<%= style %>" />
<%   end %>
<% end%>
  <meta name="generator" content="Re:VIEW"/>
  <title><%= @title %></title>
</head>
<body<%= @body_ext %>>
<% if @error_messages   %><%= @error_messages   %><% end %>
<% if @warning_messages %><%= @warning_messages %><% end %>
<%= @body %>
</body>
</html>
