<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="<%=h @language %>">
<head>
  <meta charset="UTF-8" />
<% if @stylesheets.present? %>
<%   @stylesheets.each do |style| %>
  <link rel="stylesheet" type="text/css" href="<%=h style %>" />
<%   end %>
<% end%>
<% if @next.present? %><link rel="next" title="<%= h(@next_title)%>" href="<%= h(@next.id.to_s+"."+@book.config['htmlext']) %>"><% end %>
<% if @prev.present? %><link rel="prev" title="<%= h(@prev_title)%>" href="<%= h(@prev.id.to_s+"."+@book.config['htmlext']) %>"><% end %>
  <meta name="generator" content="Re:VIEW" />
  <title><%=h @title %> | <%=h @book.config.name_of("booktitle")%></title>
</head>
<body<%= @body_ext %>>
  <div class="book">
    <nav class="side-content">
      <h1><%=h @book.config.name_of("booktitle") %></h1>
      <%= @toc %>
      <p class="review-signature">powered by <a href="http://reviewml.org/">Re:VIEW</a></p>
    </nav>
    <div class="book-body">
      <header>
      </header>
      <div class="book-page">
        <%= @body %>
      </div>
      <nav class="book-navi book-prev">
        <% if @prev.present? %>
        <a href="<%= h(@prev.id.to_s+"."+@book.config['htmlext']) %>">
          <div class="book-cursor"><span class="cursor-prev">◀</span></div>
        </a>
        <% end %>
      </nav>
      <nav class="book-navi book-next">
        <% if @next.present? %>
        <a href="<%= h(@next.id.to_s+"."+@book.config['htmlext']) %>">
          <div class="book-cursor"><span class="cursor-next">▶</span></div>
        </a>
        <% end %>
      </nav>
    </div>
  </div>
  <footer>
    <% if @book.config["copyright"].present? %>
    <p class="copyright"><%=h @config["copyright"] %></p>
    <% end %>
  </footer>
  <% if @javascripts.present? %>
  <%   @javascripts.each do |script| %>
  <script src="<%=h script %>"></script>
  <%   end %>
  <% end%>
</body>
</html>
